body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 1em;

  margin: auto;
  max-width: 60em;
  padding: 1em 2em;

  background-color: #ffebdc;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  grid-column: span 2;
}

header {
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
}

header,
footer {
  display: flex;
  grid-column: 1 / span 5;
  height: 10vw;
}

main {
  display: flex;
  grid-column: 1 / span 3;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 2rem;
}

@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 900px) {
  aside {
    /* border: solid #2c3f4f 0.11rem; */
    border-radius: 2rem;
    padding: 1.75rem;
    background-color: #ff8e162f;
  }
}
