/* ----------- Styles for any viewport */

body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15vh minmax(fit-content, 70vh) 15vh;
  grid-gap: 1em;

  margin: auto;
  max-width: 60em;
  padding: 1em 2em;

  background-color: #ffebdc;
}

main {
  grid-column: 1 / span 3;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding-right: 2em;
}

aside {
  border-radius: 2em;
  padding: 1.5em;
  background-color: #ff8e162f;
  text-align: center;
}

header {
  flex-direction: row;
  align-items: center;
  padding-bottom: 2em;
}

header,
footer {
  display: flex;
  grid-column: 1 / span 5;
}

footer p {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  margin: auto;
}

/* ----------- Styles for large screens */

@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: space-around;
  }

  aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 2em auto;
  }

  img {
    min-width: 3.5em;
  }

  aside p {
    max-width: 25%;
    font-style: italic;
  }
}

/* ----------- Styles for mobile */

@media (min-width: 900px) {
  aside {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    grid-column: span 2;
    justify-items: center;
    margin: auto 0;
  }

  aside img {
    min-height: 4em;
  }

  footer {
    height: 5vh;
  }

  main {
    min-height: fit-content;
    margin-bottom: 2em;
  }
}
