.image-frame {
  background-color: #beb3aca9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  font-style: italic;
  color: #2c3f4f;
}

.image-placeholder {
  background-color: #aca49ba1;
  height: 200px;
  width: 400px;
  text-align: center;
}
